---

---
<nav aria-label="primary">
 
    <ul>
        <li>
            <div class="navbar">
                <a href="/">home </a>
            </div>
        </li>
        <li>
            <a href="/aboutme/">Aboutme</a>
        </li>
        <li>
            <a href="/posts/">FDND Posts</a>
        </li>
        <li>
            <a href="/portfolio/">portfolio</a>
        </li>
        </ul>
    </nav>

    <style>
        nav {
            padding: 0;
        }
nav ul {
    padding: 0;
    display: flex;
    list-style-type: none;
  
}
 li a {
    text-decoration: none;  
    margin-right: 0.5rem;
}

    </style>