---

import Nav from "../components/Nav.astro";
import MainLayout from "../layouts/MainLayout.astro";

---
<Nav></Nav>
<MainLayout title="Myblog">
  <p>hi this is the homepage </p>


</MainLayout>

<style>

</style>